@charset "UTF-8";

.main-tryit {
    display: flex;
    justify-content: center;
    padding: 140px 108px 100px;
    background-color: var(--background);
}

.main-tryit section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
}

.gnb-header ul.nav-left li:nth-child(5) {
    font-weight: 700;
}

.main-tryit h2 {
    margin-bottom: 60px;
    color: var(--secondary);
    font-size: 36px;
    font-weight: 300;
}

.main-tryit .fg-editor {
    flex-wrap: nowrap;
    gap: 40px;
}

.main-tryit .sect-tryit section:last-child {
    gap: 73px;
}

.fg-editor .preview, 
.fg-editor .code {
    box-shadow: none;
}

.main-tryit .fg-editor .preview, 
.main-tryit .fg-editor .code {
    background-color: var(--white);
    box-shadow: 0px 4px 12px 0px rgba(135, 135, 135, 0.15);;
}

.fg-editor.free-mode .container .item:nth-of-type(even) {
  background-color: var(--primary-4);
}

.fg-editor.free-mode .container:nth-child(4n-1) .item:nth-of-type(odd),
.fg-editor.free-mode .container:nth-child(2n-1) .item:nth-of-type(3n) {
  background-color: var(--primary-3);
}

.on .fg-editor.free-mode .container .item:nth-of-type(even) {
  background-color: var(--primary-6);
}

.on .fg-editor.free-mode .container:nth-child(4n-1) .item:nth-of-type(odd),
.on .fg-editor.free-mode .container:nth-child(2n-1) .item:nth-of-type(3n) {
  background-color: var(--primary-6);
}

.footer-area {
    border-top: 1px solid var(--border);
}

.btn-up {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3f3f46 url(/src/assets/images/icon-chevron-up.svg) no-repeat center;
    box-shadow: 0 10px 25px rgba(135, 135, 135, 0.15);
    transition: all 0.3s;
    cursor: pointer;
    z-index: 10;
}

.btn-up.on:active,
.btn-up:active {
    background-color: var(--secondary);
}

.btn-up.on {
    background: var(--subtext) url(/src/assets/images/icon-chevron-up-darkmode.svg) no-repeat center;
}

.on .main-tryit {
    background-color: var(--primary);
}

.on .main-tryit h2  {
  color: var(--subtext);
}

.on .footer-area {
    border-top: none;
}

.on .main-tryit .fg-editor .preview, 
.on .main-tryit .fg-editor .code {
    box-shadow: 0px 4px 12px 0px #2d2d2d1a;
}

/* 반응형 */
@media screen and (max-width: 1280px) {
    .main-tryit {
        padding: 140px 60px 120px;
    }
}

@media (min-width: 768px) and (max-width: 1280) {
    .main-tryit {
        padding: 140px 40px 120px;
    }
}

@media screen and (max-width: 768px) {
    .main-tryit {
        padding: 100px 40px 80px;
    }

    .main-tryit h2 {
        margin-bottom: 50px;
        font-size: 28px;
    }
}

@media screen and (max-width: 479px) {
    .main-tryit {
        padding: 85px 20px 40px;
    }

    .main-tryit h2 {
        margin-bottom: 35px;
    }

    .main-tryit .fg-editor {
        gap: 20px;
    }
    
    .main-tryit .sect-tryit section:last-child {
        gap: 40px;
    }
}
