@charset "UTF-8";

.main {
    margin: 130px 0 100px;
}

.section-carousel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 74px;
}

.carousel-flex {
    position: relative;
}

.carousel-flex::before {
  content: '';
  position: absolute;
  top: 20px;
  right: -40px;
  height: 368px;
  border-right: 2px solid #efefef;
}

.fg-editor {
    width: 500px;
}

/* topbutton */
.upBtn {
    position: fixed;
    bottom: 60px;
    right: 160px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3f3f46;
    box-shadow: 0 10px 25px rgba(135, 135, 135, 0.15);
    background-image: url("./src/assets/images/chevron-down.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.upBtn.on {
    background: #e0e0e0;
    background-image: url("./src/assets/images/chevron-down-darkmode.svg");
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .section-carousel {
    flex-wrap: wrap;
    margin: 0 20px;
  }

  .fg-editor {
    width: 100%;
  }

  .carousel-flex::before {
    display: none;
  }

  .carousel-flex::after {
    content: '';
    position: absolute;
    bottom: -48px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #efefef;
  }
}

@media screen and (max-width: 768px) {
  .main {
      margin: 100px 0;
  }
}

@media screen and (max-width: 479px) {
  .main {
      margin: 65px 0 40px;
  }
  .section-carousel {
    gap: 40px;
  }

  .carousel-flex::after {
    bottom: -20px;
  }
}
