@charset "UTF-8";

/* header, footer 컴포넌트 넣을 예정입니다. 아래는 임시 코드입니다. */
.header {
  width: 100%;
  height: 80px;
  margin-bottom: 50px;
  border-bottom: 1px solid #efefef;
  text-align: center;
  line-height: 80px;
}

.footer {
  width: 100%;
  height: 224px;
  margin-top: 100px;
  background-color: #f9f9f9;
  text-align: center;
  line-height: 224px;
}

.section-carousel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 74px;
}

.carousel-flex {
  position: relative;
}

.carousel-flex::before {
  content: '';
  position: absolute;
  top: 20px;
  right: -40px;
  height: 368px;
  border-right: 2px solid #efefef;
}

.fg-editor {
  width: 500px;
}

@media screen and (max-width: 979px) {
  .header {
    background-color: #222;
  }

  .section-carousel {
    flex-wrap: wrap;
    margin: 0 20px;
  }

  .fg-editor {
    width: 100%;
  }

  .carousel-flex::before {
    display: none;
  }

  .carousel-flex::after {
    content: '';
    position: absolute;
    bottom: -48px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #efefef;
  }
}

@media screen and (max-width: 479px) {
  .header {
    height: 50px;
    margin-bottom: 15px;
    line-height: 50px;
    background-color: #efefef;
  }

  .section-carousel {
    gap: 80px;
  }

  .carousel-flex::after {
    bottom: -40px;
  }

  .footer {
    height: 215px;
    line-height: 215px;
  }
}
