@charset "UTF-8";

.main {
    display: flex;
    justify-content: center;
    margin: 130px 120px 100px;
}

.section-carousel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    width: 100%;;
    max-width: 1600px;
}

.carousel-flex {
    position: relative;
}

.carousel-flex::before {
    position: absolute;
    top: 20px;
    right: -50px;
    height: 368px;
    border-right: 2px solid var(--border);
    content: '';
}

.fg-editor {
    min-width: 450px;
}

.fg-editor .code {
    box-shadow: 0px 4px 12px 0px #87878726;
}

.btn-up {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3f3f46 url("./src/assets/images/icon-chevron-up.svg") no-repeat center;
    box-shadow: 0 10px 25px rgba(135, 135, 135, 0.15);
    transition: all 0.3s;
    cursor: pointer;
    z-index: 10;
}

.btn-up.on:active,
.btn-up:active {
    background-color: var(--secondary);
}

.btn-up.on {
    background: var(--subtext) url("./src/assets/images/icon-chevron-up-darkmode.svg") no-repeat center;
}

.main-body.on {
    background-color: var(--primary);
}

.on .carousel-flex::before {
    border-right: 2px solid #2d2d2db3;
}

.on .fg-editor .code {
    box-shadow: 0px 4px 12px 0px #2d2d2d1a;
}

@media screen and (max-width: 1280px) {
    .main {
        margin: 130px 60px 100px;
    }
    .section-carousel {
        gap: 73px;
    }
    .carousel-flex::before {
        right: -36.5px;
    }
}

@media screen and (max-width: 1024px) {
    .section-carousel {
        flex-wrap: wrap;
    }

    .carousel-flex::before {
        display: none;
    }

    .carousel-flex::after {
        position: absolute;
        bottom: -48px;
        left: 0;
        width: 100%;
        border-bottom: 2px solid var(--border);
        content: '';
    }
    .on .carousel-flex::after {
        border-bottom: 2px solid #2d2d2db3;
    }
}

@media screen and (max-width: 768px) {
    .main {
        margin: 100px 40px;
    }
}

@media screen and (max-width: 479px) {
    .main {
        margin: 65px 20px 40px;
    }

    .section-carousel {
        gap: 40px;
    }

    .fg-editor {
        min-width: 300px;
    }

    .carousel-flex::after {
        bottom: -20px;
    }
}
