@charset "UTF-8";

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.header-temporary {
  height: 80px;
  border: 1px solid #999;
  box-sizing: border-box;
}

.main {
  margin: 120px 160px 0 160px;
}

.text-search {
  margin: 0 0 10px 20px;
  font-size: 36px;
  line-height: 44px;
  color: #3f3f46;
}

.text-search-count {
  margin: 0 0 25px 20px;
  font-size: 12px;
  line-height: 16px;
  color: #878787;
}

/* 헤더css 일시적으로 가져왔습니다. */

/* .a11y-hidden : 웹접근성 위해 - 텍스트는 눈에 보이지 않지만 스크린 리더기가 읽을 수 있음 */
.a11y-hidden {
  /* 스크린 리더가 읽을 수 있도록 사이즈를 설정함 */
  width: 1px;
  height: 1px;
  /* 레이아웃에 영향을 끼치지 않도록 포지션 설정 */
  position: absolute;
  /* 이하 눈에 보이는 부분은 제거 */
  overflow: hidden;
  /* 네개의 좌표로 지정한 직사각형 모양대로 요소를 잘라내는 속성
    포토샵의 mask 효과와 비슷
    position 속성 값이 absolute 혹은 fixed인 요소여야하고,
    만약 overflow 속성 값이 visible일 경우에는 적용이 되지 않음
     */
  clip: rect(1px 1px 1px 1px);
  margin: 0;
}

header {
  width: 100%;
  height: 80px;
  padding: 0 160px;
  box-sizing: border-box;
  color: var(--secondary);
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.header-logo {
  display: inline-block;
  width: 144px;
  height: 20px;
  background: url(/src/assets/images/logo.svg) no-repeat;
}

ul.nav-left {
  display: flex;
  box-sizing: border-box;
}

nav ul.nav-left li a {
  line-height: 28px;
}

ul.nav-left li {
  display: flex;
  align-items: center;
}

ul.nav-left li {
  margin-right: 30px;
  padding: 26px 0;
}

ul.nav-left li:last-child {
  margin-right: 0;
}
ul.nav-left li:first-child {
  margin-right: 32px;
  padding: 30px 0;
}

nav ul.nav-right {
  display: flex;
  box-sizing: border-box;
  padding: 20px 0;
}

.search {
  position: relative;
}
.search-input {
  width: 265px;
  height: 40px;
  padding: 8px 54px 8px 30px;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 30px;
}

.search-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  right: 20px;
  background: url(/src/assets/images/icon-search.svg) no-repeat;
  color: transparent;
  font-size: 1;
}

.darkmode {
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-left: 30.5px;
  background: url(/src/assets/images/icon-darkmode.svg) center no-repeat;
  color: transparent;
  font-size: 1;
}

.github {
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-left: 22px;
  background: url(/src/assets/images/icon-github.svg) center no-repeat;
  color: transparent;
  font-size: 1;
}

/* 다크모드 */

.header-logo.on {
  display: inline-block;
  width: 144px;
  height: 20px;
  background: url(/src/assets/images/logo-darkmode.svg) no-repeat;
}

.header.on {
  background-color: var(--primary);
  color: var(--background);
}

nav li.on {
  color: var(--background);
}

.search.on {
  background-color: var(--black);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.search-input.on {
  background-color: var(--black);
  border: none;
}

.darkmode.on {
  background: url(/src/assets/images/icon-moon-dark.svg) center no-repeat;
}

.github.on {
  background: url(/src/assets/images/icon-github-dark.svg) center no-repeat;
}

/* 모달 엑스버튼 이미지 안눌리게 */
.close-img {
  pointer-events: none;
}
