@charset "UTF-8";

body {
    overflow-x: hidden;
    background-color: var(--grid-background);
}

.cheatsheet-grid {
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 1480px;
    padding: 0 180px 100px;
}

.grid-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 50px;
    width: fit-content;
    margin-top: 80px;
}

.main-title {
    color: var(--secondary);
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin-top: 140px;
}

article:not(:last-child, :nth-last-of-type(2)) {
    padding-bottom: 70px;
    border-bottom: 1px solid var(--grid-border);
}

.tit-cheat {
    margin-bottom: 20px;
}

.tit-cheat a {
    width: 113px;
    color: var(--primary);
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
}

.tit-cheat a:hover {
    width: 142px;
    color: var(--secondary);
}

.tit-cheat a:hover:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-image: url(/src/assets/images/icon-link.svg);
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    content: '';
}

.fg-editor {
    flex-direction: column;
    width: 525px;
}

.fg-editor .preview,
.fg-editor .code {
    width: 100%;
}


/* 다크모드 */
.on {
    background-color: var(--primary);
}

.on .tit-cheat a {
    color: var(--border);
    font-family: Pretendard;
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
}

.on .tit-cheat a:hover {
    color: var(--tertiary);
}

.on .tit-cheat a:hover:before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-image: url(/src/assets/images/icon-link.svg);
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    filter: opacity(0.5) drop-shadow(0 0 0 var(--tertiary));
    content: '';
}


.gnb-header .modal-menu .list-item:last-child {
    color: var(--grid-primary);
    font-weight: 700;
}

.mobile-menu .btn-cheatSheet::before {
    background: url(/src/assets/images/icon-cheatsheet-hover.svg) no-repeat center/contain;
}


.btn-up {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3f3f46 url(/src/assets/images/icon-chevron-up.svg) no-repeat center;
    box-shadow: 0 10px 25px rgba(135, 135, 135, 0.15);
    transition: all 0.3s;
    cursor: pointer;
    z-index: 10;
}

.btn-up.on:active,
.btn-up:active {
    background-color: var(--secondary);
}

.btn-up.on {
    background: var(--subtext) url(/src/assets/images/icon-chevron-up-darkmode.svg) no-repeat center;
}