@charset "UTF-8";

body {
    background-color: var(--grid-background);
}

main {
    width: 1080px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

.main-title {
    color: var(--secondary);
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 80px;
}

/* Grid Cheetsheet 타이틀 다크모드  */
.main-title.on {
    color: var(--subtext);
}

.main-wrapper {
    display: flex;
    gap: 30px;
    /* display: grid; */
    /* grid-template-columns: repeat(2, 525px); */
}


.gnb-header .modal-menu .list-item:last-child {
    color: var(--grid-primary);
    font-weight: 700;
}

.btn-up {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3f3f46 url(/src/assets/images/icon-chevron-up.svg) no-repeat center;
    box-shadow: 0 10px 25px rgba(135, 135, 135, 0.15);
    transition: all 0.3s;
    cursor: pointer;
    z-index: 10;
}

.btn-up.on:active,
.btn-up:active {
    background-color: var(--secondary);
}

.btn-up.on {
    background: var(--subtext) url(/src/assets/images/icon-chevron-up-darkmode.svg) no-repeat center;
}

.footer-area {
    display: block;
}