@charset "UTF-8";

body {
    background-color: var(--grid-background);
}

.main-cheatsheet-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.cheatsheet-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 140px 0px 120px;
}

.main-title {
    color: var(--secondary);
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 80px;
}

/* Grid Cheetsheet 타이틀 다크모드  */
/* .on .main-title {
    color: var(--subtext);
} */

.main-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* @media(max-width:768px) {
    .main-wrapper {
        grid-template-columns: 1fr;
    }
} */

.gnb-header .modal-menu .list-item:last-child {
    color: var(--grid-primary);
    font-weight: 700;
}

.btn-up {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3f3f46 url(/src/assets/images/icon-chevron-up.svg) no-repeat center;
    box-shadow: 0 10px 25px rgba(135, 135, 135, 0.15);
    transition: all 0.3s;
    cursor: pointer;
    z-index: 10;
}

.btn-up.on:active,
.btn-up:active {
    background-color: var(--secondary);
}

.btn-up.on {
    background: var(--subtext) url(/src/assets/images/icon-chevron-up-darkmode.svg) no-repeat center;
}