@charset "UTF-8";

body {
    overflow-x: hidden;
}

article {
    margin-bottom: 100px;
}

h2, h3, h4 {
    padding-top: 140px;
    margin-top: -140px;
}

h2 {
    margin-bottom: 100px;
    color: var(--secondary);
    font-size: 36px;
}

h3 {
    color: var(--primary);
    font-size: 22px;
    font-weight: 600;
}


/* 에디터 추가 후 삭제 */
pre, pre code {
    overflow-x: auto;
    max-width: 700px;
    margin: 10px auto;
    padding-bottom: 10px;
}

article > pre::-webkit-scrollbar,
article > pre code::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

article > pre::-webkit-scrollbar-thumb,
article > pre code::-webkit-scrollbar-thumb {
    width: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--grid-border);
    background-clip: padding-box;
}

article > pre::-webkit-scrollbar-track,
article > pre code::-webkit-scrollbar-thumb {
    background: none;
}
/* 에디터 추가 후 삭제 끝 */

.gnb-header ul.nav-left li:nth-child(4) {
    color: var(--grid-primary);
    font-weight: 700;
}

.btn-grid {
    color: #F6866A;
}

.btn-grid::before {
    background: url(/src/assets/images/icon-grid-hover.svg) no-repeat center/contain;
}

.main-grid {
    display: flex;
    width: 100%;
    background: var(--grid-background)
}

.sect-grid {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cont-grid {
    width: 100%;
    padding: 140px 0 120px;
    padding-left: 150px;
    padding-right: 210px;
    line-height: 1.6em;
}

.cont-grid figure {
    display: block;
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.cont-grid figure img {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.btn-up {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3f3f46 url(/src/assets/images/chevron-down.svg) no-repeat center;
    box-shadow: 0 10px 25px rgba(135, 135, 135, 0.15);
    transition: all 0.3s;
    cursor: pointer;
    z-index: 10;
}

.btn-up.on:active,
.btn-up:active {
    background-color: var(--secondary);
}

.btn-up.on {
    background: var(--subtext) url(/src/assets/images/chevron-down-darkmode.svg) no-repeat center;
}

/* 반응형 */
@media screen and (max-width: 1280px) {
    .cont-grid {
        padding-left: 5vw;
        padding-right: 5vw;
        width: 80%;
    }

    .cont-grid figure {
        max-width: 90%;
    }

    .cont-grid figure img {
        max-width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1280) {
    .sect-grid {
        width: calc(100% - 295px);
    }
}

@media screen and (max-width: 768px) {
    .cont-grid {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .cont-grid figure {
        max-width: 100%;
    }

    .cont-grid figure img {
        max-width: 100%;
    }

    .footer-area {
        margin: 0;
    }
}