@keyframes mountItem {
  0% {
    transform: translateY(-10%);
    background-color: #8f7ee2;
  }

  100% {
    transform: translateY(0);
    background-color: var(--flex-primary);
  }
}

.fg-editor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  min-width: 700px;
  min-height: 100px;
}

.fg-editor *,
.fg-editor *::before,
.fg-editor *::after {
  transition: all 0.2s;
  box-sizing: border-box;
}

.fg-editor .preview,
.fg-editor .code {
  overflow: hidden;
  min-width: 360px;
  box-shadow: 0px 4px 12px 0px #51459f14;
}

.fg-editor .preview {
  flex: 1;
  padding: 22px 30px;
  border-radius: 20px;
}

.fg-editor .code {
  display: block;
  flex: 1;
  padding: 20px 10px;
  border-radius: 20px;
  background-color: var(--white);
  font-size: 16px;
}

.fg-editor .code table {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  padding: 2px 0;
}

.fg-editor .code table::-webkit-scrollbar {
  width: 5px;
}

.fg-editor .code table::-webkit-scrollbar-thumb {
  width: 5px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--tertiary);
}

.fg-editor .code table::-webkit-scrollbar-track {
  background: none;
}

.fg-editor .preview:hover {
  background-color: var(--flex-hover);
}

.fg-editor .container {
  gap: 12px;
  width: 100%;
  height: 100%;
}

.fg-editor .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background-color: var(--flex-primary);
  font-size: 22px;
  color: var(--white);
  user-select: none;
  animation: mountItem 0.2s;
}

.fg-editor .list-snippet {
  width: 100%;
}

.fg-editor .list-snippet form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 30px;
  width: 100%;
}

.fg-editor .input-snippet {
  display: none;
}

.fg-editor .label-snippet {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  color: var(--tertiary);
  user-select: none;
}

.fg-editor .label-snippet::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid var(--tertiary);
  border-radius: 50%;
  content: '';
}

.fg-editor .label-snippet:hover,
.fg-editor .label-snippet:hover::before {
  border-color: var(--primary);
  color: var(--primary);
}

.fg-editor .label-snippet::after {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
}

.fg-editor .input-snippet:checked + .label-snippet {
  color: var(--flex-primary);
}

.fg-editor .input-snippet:checked + .label-snippet::before {
  border-color: var(--flex-primary);
}

.fg-editor .input-snippet:checked + .label-snippet::after {
  background-color: var(--flex-primary);
}

.fg-editor tr {
  display: flex;
  height: 24px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  transition: all 0.1s;
}

.fg-editor tr:hover {
  background-color: var(--flex-hover);
  transition: all 0.1s;
}

.fg-editor td {
  padding: 0;
}

.fg-editor .number-line {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 25px;
  font-size: 12px;
  color: var(--tertiary);
  user-select: none;
}

.fg-editor .code-line {
  display: inline-flex;
  align-items: center;
  padding-left: 22px;
}

.fg-editor .button-code {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 24px;
  border-radius: 3px;
  cursor: pointer;
}

.fg-editor .button-code:hover {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.fg-editor .button-code:active {
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.fg-editor .button-code .dropdown {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 24px;
  left: 0;
  z-index: 10;
  max-height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--flex-hover);
  color: var(--black);
}

.fg-editor .button-code .dropdown::-webkit-scrollbar {
  width: 5px;
}

.fg-editor .button-code .dropdown::-webkit-scrollbar-thumb {
  width: 5px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--tertiary);
}

.fg-editor .button-code .dropdown::-webkit-scrollbar-track {
  background: none;
}

.fg-editor .button-code .dropdown li {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  user-select: none;
}

.fg-editor .button-code .dropdown li:hover {
  background-color: var(--flex-border);
}

.fg-editor .selector-code {
  color: var(--grid-primary);
}

.fg-editor .prop-code {
  color: var(--grid-dark);
}

.fg-editor .value-code {
  color: var(--flex-primary);
}

.fg-editor .buttons {
  width: 100%;
}

.fg-editor .buttons .button {
  height: 41px;
  padding: 10px 16px;
  border-radius: 10px;
}

.fg-editor .buttons .button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.fg-editor .buttons .button:active {
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.fg-editor .buttons .button-add {
  margin-right: 12px;
  background-color: var(--flex-hover);
  color: var(--flex-primary);
}

.fg-editor .buttons .button-remove {
  background-color: var(--subtext);
  color: var(--secondary);
}
