<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buttons</title>
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="buttons.css">
</head>
<body>
  <!--radio button-->
  <ul class='btn-container'>
    <li class="btn-value">
      <input type="radio" id="r1" name="flex-direction"> 
      <label for="r1" class='radio-label'>row</label> 
    </li>
    <li class="btn-value">
      <input type="radio" id="r2" name="flex-direction"> 
      <label for="r2" class='radio-label'>row-reverse</label> 
    </li>
  </ul>
  
  <!-- radio button Dark mode on 추가-->
  <ul class="btn-container on">
    <li class="btn-value">
      <input type="radio" id="r1on" name="flex-direction"> 
      <label for="r1on" class='radio-label'>row</label> 
    </li>
    <li class="btn-value">
      <input type="radio" id="r2on" name="flex-direction"> 
      <label for="r2on" class='radio-label'>row-reverse</label> 
    </li>
  </ul>

  <!--github link button-->
  <a href="#" class="mobile-github">Github</a>

  <!-- github link button Dark mode on 추가-->
  <a href="#" class="mobile-github on">Github</a> 
</body>
</html>
