<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>buttons</title>
    <link rel="stylesheet" href="../css/default.css" />
    <link rel="stylesheet" href="buttons.css" />
  </head>
  <body>
    <!--radio button-->
    <ul class="btn-container">
      <li class="btn-value">
        <input type="radio" id="r1" name="flex-direction" />
        <label for="r1" class="radio-label">row</label>
      </li>
      <li class="btn-value">
        <input type="radio" id="r2" name="flex-direction" />
        <label for="r2" class="radio-label">row-reverse</label>
      </li>
    </ul>

    <br />

    <!-- radio button Dark mode on 추가-->
    <ul class="btn-container on">
      <li class="btn-value">
        <input type="radio" id="r1on" name="flex-direction" />
        <label for="r1on" class="radio-label">row</label>
      </li>
      <li class="btn-value">
        <input type="radio" id="r2on" name="flex-direction" />
        <label for="r2on" class="radio-label">row-reverse</label>
      </li>
    </ul>

    <br />

    <!--github link button-->
    <a href="#" class="mobile-github">Github</a>

    <br />

    <!-- github link button Dark mode on 추가-->
    <a href="#" class="mobile-github on">Github</a>

    <br />

    <!-- carousel button -->
    <ul class="carousel-container">
      <li class="checked"></li>
      <li></li>
      <li></li>
    </ul>

    <!-- carousel button Dark mode on 추가 -->
    <ul class="carousel-container on">
      <li class="checked"></li>
      <li></li>
      <li></li>
    </ul>

    <br />

    <!-- up button -->
    <button class="upBtn"></button>

    <!-- up button Dark mode on 추가 -->
    <button class="upBtn on"></button>

    <br />

    <!-- github button -->
    <a class="github-container"><p>Github</p></a>

    <!-- github button Dark mode on 추가 -->
    <a class="github-container on"><p>Github</p></a>

    <br />

    <!-- Next page button -->
    <button class="nextPageBtn">Next Page</button>
    <!-- Next page button Dark mode on 추가 -->
    <button class="nextPageBtn on">Next Page</button>

    <br />

    <!-- Cheatsheet button -->
    <button class="cheatsheetBtn">Cheatsheet</button>

    <!-- Cheatsheet button Dark mode on 추가 -->
    <button class="cheatsheetBtn on">Cheatsheet</button>

    <br />

    <!-- Remove box button -->
    <button class="removeBoxBtn">- Remove Box</button>

    <!-- Remove box button Dark mode on 추가 -->
    <button class="removeBoxBtn on">- Remove Box</button>
  </body>
</html>
