@charset "UTF-8";

body {
  background-color: var(--flex-background);
}

/* 임시 여백 */
.fg-cheat {
  padding: 10vh 5vw;
}

.radio-cheat {
  margin: 20px 0;
}

.fg-cheat *,
.fg-cheat *::before,
.fg-cheat *::after {
  transition: all 0.2s;
  box-sizing: border-box;
}

.fg-cheat form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 30px;
  width: 100%;
}

.fg-cheat .input-option {
  display: none;
}

.fg-cheat .label-option {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  color: var(--tertiary);
  user-select: none;
}

.fg-cheat .label-option::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid var(--tertiary);
  border-radius: 50%;
  content: '';
}

.fg-cheat .label-option:hover,
.fg-cheat .label-option:hover::before {
  border-color: var(--primary);
  color: var(--primary);
}

.fg-cheat .label-option::after {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
}

.fg-cheat .input-option:checked + .label-option {
  color: var(--flex-primary);
}

.fg-cheat .input-option:checked + .label-option::before {
  border-color: var(--flex-primary);
}

.fg-cheat .input-option:checked + .label-option::after {
  background-color: var(--flex-primary);
}

/* 컴포넌트 CSS */

.tit-cheat a {
  width: 113px;
  margin: 0 0 50px 9px;
  color: var(--primary);
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
}

.tit-cheat a:hover {
  width: 142px;
  color: var(--secondary);
}

.tit-cheat a:hover:before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-image: url(../assets/images/icon-link.svg);
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  content: '';
}

/* 그림예제부분 */

.container {
  display: flex;
  align-items: flex-start;
  gap: 22px 12px;
  width: 525px;
  min-height: 150px;
  padding: 22px 30px;
  /* 아래박스와 구분을 위해 마진바텀을 임시로 넣어주었습니다. */
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(81, 69, 159, 0.08);
}

.item {
  width: 70px;
  /* height: 70px; */
  border-radius: 15px;
  background: #7661e2;
  color: white;
  font-size: 22px;
  line-height: 70px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(81, 69, 159, 0.08);
}

/* 코드예제부분 */

.box-code-area {
  width: 525px;
  min-height: 180px;
  padding: 22px 0 22px 20px;
  /* 아래박스와 구분을 위해 마진바텀을 임시로 넣어주었습니다. */
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(81, 69, 159, 0.08);
  box-sizing: border-box;
  background-color: var(--white);
}

.txt-code {
  color: var(--flex-primary);
  font-size: 16px;
  font-weight: 400;
}

.number-code {
  margin-right: 22px;
  color: var(--tertiary);
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}

/* 다크모드 스타일링 */

.fg-cheat.on {
  background-color: var(--primary);
}

.fg-cheat.on .container,
.fg-cheat.on .box-code-area {
  box-shadow: 0px 10px 25px 0px rgba(45, 45, 45, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #252424;
}

.fg-cheat.on .tit-cheat a {
  width: 113px;
  margin: 0 0 50px 9px;
  color: var(--background);
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
}

.fg-cheat.on .tit-cheat a:hover {
  width: 142px;
  color: var(--tertiary);
}

.fg-cheat.on .tit-cheat a:hover:before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-image: url(../assets/images/icon-link-darkmode.svg);
  background-repeat: no-repeat;
  filter: opacity(0.5) drop-shadow(0 0 0 var(--tertiary));
  vertical-align: text-bottom;
  content: '';
}

.fg-cheat.on .label-option:hover,
.fg-cheat.on .label-option:hover::before {
  border-color: var(--white);
  color: var(--white);
}
