<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>flex X grid</title>
    <link rel="stylesheet" href="../css/default.css" />
    <link rel="stylesheet" href="../../src/css/color.css">
    <link rel="stylesheet" href="cheatsheet-flex.css" />
</head>

<body>
    <!-- daytime모드 -->
    <article class="fg-cheat">
        <h2 class="tit-cheat" id="flex-direction"><a href="#flex-direction">flex-direction</a></h2>
        <form class="radio-cheat">
            <input type="radio" id="cheat0-option1" name="cheat0" class="input-option" checked="true">
            <label for="cheat0-option1" class="label-option cheat0-option1">row</label>
            <input type="radio" id="cheat0-option2" name="cheat0" class="input-option">
            <label for="cheat0-option2" class="label-option cheat0-option2">row-reverse</label>
            <input type="radio" id="cheat0-option3" name="cheat0" class="input-option">
            <label for="cheat0-option3" class="label-option cheat0-option3">column</label>
            <input type="radio" id="cheat0-option4" name="cheat0" class="input-option">
            <label for="cheat0-option4" class="label-option cheat0-option4">column-reverse</label>
        </form>
        <section class="box-area">
            <div class="container cheat0" id="cont-cheat0">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>
        </section>
        <section class="box-code-area">
            <p class="txt-code"><span class="number-code">1</span>.container {</p>
            <p class="txt-code"><span class="number-code">2</span>display: flex;</p>
            <p class="txt-code">
                <span class="number-code">3</span><em>flex-direction: row;</em>
            </p>
            <p class="txt-code"><span class="number-code">4</span>}</p>
            <p class="txt-code"><span class="number-code">5</span></p>
        </section>
    </article>

    <!-- 다크모드 -->
    <article class="fg-cheat on">
        <h2 class="tit-cheat" id="align-items"><a href="#align-items">align-items</a></h2>
        <form class="radio-cheat">
            <input type="radio" id="cheat1-option1" name="cheat1" class="input-option" checked="true">
            <label for="cheat1-option1" class="label-option cheat1-option1">flex-start</label>
            <input type="radio" id="cheat1-option2" name="cheat1" class="input-option">
            <label for="cheat1-option2" class="label-option cheat1-option2">center</label>
            <input type="radio" id="cheat1-option3" name="cheat1" class="input-option">
            <label for="cheat1-option3" class="label-option cheat1-option3">flex-end</label>
            <input type="radio" id="cheat1-option4" name="cheat1" class="input-option">
            <label for="cheat1-option4" class="label-option cheat1-option4">stretch</label>
        </form>
        <section class="box-area">
            <div class="container cheat1" id="cont-cheat1">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>
        </section>
        <section class="box-code-area">
            <p class="txt-code"><span class="number-code">1</span>.container {</p>
            <p class="txt-code"><span class="number-code">2</span>display:flex;</p>
            <p class="txt-code">
                <span class="number-code">3</span><em>align-items: flex-start;</em>
            </p>
            <p class="txt-code"><span class="number-code">4</span>}</p>
            <p class="txt-code"><span class="number-code">5</span></p>
        </section>
    </article>

    <script src="./cheatsheet-flex.js"></script>

</html>