@charset "UTF-8";

body {
  background-color: #e5e5e5;
}

/* 박스 타이틀 데이타임모드 */

.box-title {
  width: 113px;
  margin: 0 0 50px 9px;
  color: #3f3f46;
  font-family: Pretendard;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
}

.box-title:hover {
  width: 142px;
  color: #878787;
}

.box-title:hover:before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-image: url(../assets/images/icon-link.svg);
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  content: '';
}


/* 그림예제부분 */

.box-wrapper {
  display: flex;
  gap: 22px 12px;
  width: 525px;
  min-height: 150px;
  padding: 22px 30px;
  /* 아래박스와 구분을 위해 마진바텀을 임시로 넣어주었습니다. */
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(81, 69, 159, 0.08);
}

.item {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background: #7661e2;
  color: white;
  font-family: Pretendard;
  font-size: 22px;
  line-height: 70px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(81, 69, 159, 0.08);
}

/* 코드예제부분 */

.box-code-area {
  width: 525px;
  min-height: 180px;
  padding: 22px 0 22px 20px;
  /* 아래박스와 구분을 위해 마진바텀을 임시로 넣어주었습니다. */
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(81, 69, 159, 0.08);
  box-sizing: border-box;
  background-color: white;
  font-family: 'Pretendard';
}

.txt-code {
  color: #7661e2;
  font-size: 16px;
  font-weight: 400;
}

.number-code {
  margin-right: 22px;
  color: #b4b4b4;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}

/* 나이트모드 스타일링 */

.box-wrapper.on, .box-code-area.on {
  box-shadow: 0px 10px 25px 0px rgba(45, 45, 45, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #252424;
}

/* 박스 타이틀 나이트모드 */

.box-title.on {
  width: 113px;
  margin: 0 0 50px 9px;
  color: #f9f9f9;
  font-family: Pretendard;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
}

.box-title.on:hover {
  width: 142px;
  color: #b4b4b4;
}

.box-title.on:hover:before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-image: url(../assets/images/icon-link.svg);
  background-repeat: no-repeat;
  filter: opacity(0.5) drop-shadow(0 0 0 #b4b4b4);
  vertical-align: text-bottom;
  content: '';
}