@charset "UTF-8";

body {
    position: relative;
}

.footer-area {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--background);
}

.footer-area .cont-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 108px;
    width: 100%;
    max-width: 1600px;
}

.footer-area .cont-txt {
    position: relative;
    min-width: 400px;
    padding: 0 60px 0 240px;
}


.footer-area .cont-txt::before {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 144px;
    height: 20px;
    background: url(../assets/images/logo-gray.svg) no-repeat center/contain;
    content: "";
}

.footer-area .txt-copyrigt,
.footer-area .txt-main,
.footer-area .txt-title {
    color: var(--tertiary);
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: -0.2px;
}

.footer-area .txt-title {
    display: inline-block;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 22px;
}

.footer-area .txt-main {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    word-break: keep-all;
}

.footer-area .cont-btn {
    flex-shrink: 0;
}

.footer-area .btn-footer {
    display: inline-block;
    padding: 8px 0;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(135, 135, 135, 0.08);
    background-color: var(--tertiary);
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
}

.footer-area .btn-footer:hover {
    background-color: var(--secondary);
    transition: background-color 0.2s ease-in-out;
}

.footer-area .btn-github {
    width: 95px;
    margin-right: 20px;
}

.footer-area .btn-github::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px 0 8px;
    background: url(../assets/images/icon-github-footer.svg) no-repeat center/contain;
    vertical-align: -5px;
    content: "";
}

.footer-area .btn-file {
    width: 115px;
}

.footer-area .btn-file::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 8px;
    background: url(../assets/images/icon-download.svg) no-repeat center/contain;
    vertical-align: -5px;
}

.footer-area.on {
    background-color: var(--border-dark);
}

.footer-area.on .txt-copyrigt,
.footer-area.on .txt-main,
.footer-area.on .txt-title {
    color: var(--secondary);
}

.footer-area.on .btn-footer {
    box-shadow: 0 8px 10px rgba(45, 45, 45, 0.5);
    background-color: var(--secondary);
    color: var(--dark);
}

.footer-area.on .btn-footer:hover {
    background-color: #6b6b6b;
}

.footer-area.on .btn-github::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px 0 8px;
    background: url(../assets/images/icon-github-footer-darkmode.svg) no-repeat center/contain;
    vertical-align: -5px;
}

.footer-area.on .btn-file::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background: url(../assets/images/icon-download-darkmode.svg) no-repeat center/contain;
    vertical-align: -5px;
}

/* 반응형 */
@media screen and (max-width: 1280px) {
    .footer-area .cont-footer {
        margin: 60px;
    }
}

@media screen and (max-width: 1000px) {
    .footer-area .cont-footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .footer-area .cont-btn {
        padding-left: 240px;
    }
}

@media screen and (max-width: 768px) {
    .footer-area .cont-footer {
        margin: 60px 38px;
    }

    .footer-area .cont-txt {
        padding: 60px 0 0;
    }

    .footer-area .cont-btn {
        padding-left: 0;
    }
}

@media screen and (max-width: 479px) {
    .footer-area .cont-footer {
        margin-bottom: 45px;
    }

    .footer-area .cont-txt::before {
        top: -18px;
        width: 130px;
        height: 18px;
    }

    .footer-area .cont-txt {
        min-width: 100%;
        padding: 20px 0 0;
    }

    .footer-area .txt-title {
        font-size: 18px;
    }

    .footer-area .txt-main {
        font-size: 13px;
        width: 100%;
    }

    .footer-area .txt-copyrigt {
        font-size: 12px;
    }

    .footer-area .btn-github {
        margin-right: 15px;
    }
}
