@charset "UTF-8";

* {
  font-family: Pretendard, sans-serif;
}

.footer-area {
  overflow: hidden;
  background-color: var(--background);
}

.footer-area .cont-footer {
  display: flex;
  justify-content: space-between;
  max-width: 1118px;
  margin: 60px auto 55px;
  padding: 0 15px;
}

.footer-area .img-logo {
  width: 144px;
}

.footer-area .cont-txt {
  max-width: 480px;
  margin: 0 15px;
}

.footer-area .txt-title {
  display: inline-block;
  margin-bottom: 24px;
  color: var(--tertiary);
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
}

.footer-area .txt-main {
  margin-bottom: 17px;
  color: var(--tertiary);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.footer-area .txt-copyrigt {
  color: var(--tertiary);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-area .cont-btn {
  margin: auto 0;
  flex-shrink: 0;
}

.footer-area .btn-footer {
  display: inline-block;
  padding: 8px 0;
  border-radius: 10px;
  box-shadow: 0px 8px 10px rgba(135, 135, 135, 0.08);
  background-color: var(--tertiary);
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
}

.footer-area .btn-github {
  width: 95px;
  margin-right: 20px;
}

.footer-area .btn-github::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 5px 0 8px;
  background: url(../assets/images/icon-github-footer.svg) no-repeat
    center/contain;
  vertical-align: -5px;
}

.footer-area .btn-file {
  width: 115px;
}

.footer-area .btn-file::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 8px;
  background: url(../assets/images/icon-download.svg) no-repeat center/contain;
  vertical-align: -5px;
}

/* Dark mode */
/* Dark mode는 .footer-area에 .on class를 붙여주세요 */
.footer-area.on {
  background-color: var(--dark);
}

.footer-area.on .txt-title,
.footer-area.on .txt-main,
.footer-area.on .txt-copyrigt {
  color: var(--secondary);
}

.footer-area.on .btn-footer {
  background-color: var(--secondary);
  color: var(--dark);
}

.footer-area.on .btn-github::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 5px 0 8px;
  background: url(../assets/images/icon-github-darkmode-footer.svg) no-repeat
    center/contain;
  vertical-align: -5px;
}

.footer-area.on .btn-file::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: url(../assets/images/icon-download-darkmode.svg) no-repeat
    center/contain;
  vertical-align: -5px;
}

/* 반응형 */
@media screen and (max-width: 769px) {
  .footer-area .cont-footer {
    flex-direction: column;
  }

  .footer-area .cont-logo {
    margin-bottom: 10px;
  }

  .footer-area .cont-txt {
    position: relative;
    margin: 0;
  }

  .footer-area .txt-title {
    font-size: 12px;
  }

  .footer-area .txt-main {
    display: none;
  }

  .footer-area .txt-copyrigt {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -80px;
    font-size: 10px;
  }
}
