<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="../css/default.css" />
    <link rel="stylesheet" href="../css/color.css" />
    <link rel="stylesheet" href="footer.css" />
  </head>
  <body>
    <footer class="footer-area">
      <div class="cont-footer">
        <div class="cont-logo">
          <a href="#none">
            <img
              class="img-logo"
              src="../assets/images/logo-gray.svg"
              alt="flexandgrid 로고입니다."
            />
          </a>
        </div>
        <div class="cont-txt">
          <strong class="txt-title"
            >flex, grid 오픈소스 프로젝트 입니다 :)</strong
          >
          <p class="txt-main">
            text text text text text text text text text text text text text
            text text text text text text texttext text text text text text text
            text
          </p>
          <small class="txt-copyrigt">© 2022, All Rights Reserved</small>
        </div>
        <div class="cont-btn">
          <a class="btn-footer btn-github" href="#none">Github</a>
          <a class="btn-footer btn-file" href="#none" download="">PDF Book</a>
        </div>
      </div>
    </footer>
    <!-- Dark mode -->
    <footer class="footer-area on">
      <div class="cont-footer">
        <div class="cont-logo">
          <a href="#none">
            <img
              class="img-logo"
              src="../assets/images/logo-gray-darkmode.svg"
              alt="flexandgrid 로고입니다."
            />
          </a>
        </div>
        <div class="cont-txt">
          <strong class="txt-title on"
            >flex, grid 오픈소스 프로젝트 입니다 :)</strong
          >
          <p class="txt-main on">
            text text text text text text text text text text text text text
            text text text text text text texttext text text text text text text
            text
          </p>
          <small class="txt-copyrigt on">© 2022, All Rights Reserved</small>
        </div>
        <div class="cont-btn">
          <a class="btn-footer on btn-github" href="#none">Github</a>
          <a class="btn-footer on btn-file" href="#none" download=""
            >PDF Book</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
