@charset "UTF-8";

.a11y-hidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    clip: rect(1px 1px 1px 1px);
}

.gnb-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 108px;
    border-bottom: 1px solid var(--border);
    background-color: var(--white);
    color: var(--secondary);
    box-sizing: border-box;
    transition: transform 0.5s;
    z-index: 10;
}

.gnb-header .header-logo {
    display: inline-block;
    width: 144px;
    height: 20px;
    background: url(/src/assets/images/logo.svg) no-repeat center / contain;
}

.gnb-header nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.gnb-header ul.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    margin-left: 22px;
    box-sizing: border-box;
}

.gnb-header ul.nav-left .hamburger-container {
    display: none;
}

.hamburger-menu {
    display: none;
    width: 20px;
    height: 18px;
    background: url(/src/assets/images/icon-hamburger-menu.svg) no-repeat 100%;
}

.gnb-header nav ul.nav-left li a {
    padding: 10px;
    line-height: 28px;
    transition: font-weight 0.1s ease-in-out;
}

.gnb-header ul.nav-left li {
    padding: 26px 0;
    margin-right: 10px;
}

.modal-menu {
    position: absolute;
    top: 70px;
    left:16px;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.modal-menu .list-menu .list-item {
    margin-right: 0px
}

.gnb-header ul.nav-left li:last-child {
    margin-right: 0;
}

.gnb-header ul .nav-left-menu a:hover {
    font-weight: 700;
}

.gnb-header ul .nav-cheatsheet:hover .modal-menu, 
.gnb-header ul .nav-cheatsheet:focus .modal-menu {
    opacity: 1;
    visibility: visible;
}

.gnb-header ul.nav-left li:nth-child(3):hover {
    color: var(--flex-primary);
}

.gnb-header ul.nav-left li:nth-child(4):hover {
    color: var(--grid-primary);
}

.gnb-header nav ul.nav-right {
    display: flex;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.gnb-header .search {
    position: relative;
}

.mobile-search {
    display: none;
}

.mobile-search .search-toggle {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 24px;
    height: 24px;
    background: url(/src/assets/images/icon-search.svg) no-repeat center / contain;
    color: transparent;
}

.search-input {
    position: relative;
    width: 265px;
    height: 40px;
    padding: 8px 54px 8px 30px;
    border: 1px solid var(--border);
    border-radius: 30px;
    background-color: var(--background);
    outline-color: var(--flex-primary);
}

.search-btn {
    position: absolute;
    top: 8px;
    right: 20px;
    width: 24px;
    height: 24px;
    background: url(/src/assets/images/icon-search.svg) no-repeat center / contain;
    color: transparent;
}

.modal-history {
    position: absolute;
    top: 50px;
    left: 0;
}

.button-group {
    display: flex;
    align-items: center;
}

.button-group .darkmode-btn,
.button-group .github-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: transparent;
    transition: background-color 0.2s ease-in-out;
}

.button-group .darkmode-btn {
    display: flex;
    justify-content: center;
    margin-left: 26px;
    background: url(/src/assets/images/icon-moon.svg) no-repeat center / 28px 28px;
}

.button-group .github-btn {
    margin-left: 16px;
    background: url(/src/assets/images/icon-github.svg) no-repeat center / 28px 28px;
    font-size: 1;
}

.button-group .darkmode-btn:hover,
.button-group .github-btn:hover {
    background-color: var(--border);
}

.scroll-down .gnb-header {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .gnb-header {
    transform: none;
}

/* 다크모드 */
.gnb-header.on {
    background-color: var(--primary);
    border-bottom: 1px solid var(--border-dark);
    color: var(--background);
}

.gnb-header.on .header-logo {
    background: url(/src/assets/images/logo-darkmode.svg) no-repeat center / contain;
}

.gnb-header.on nav li {
    color: var(--background);
}

.gnb-header.on .search-input {
    background-color:#333338;
    border: none;
    -webkit-text-fill-color: var(--white);
    opacity: 1;
}

.gnb-header.on .darkmode-btn {
    background: url(/src/assets/images/icon-moon-darkmode.svg) no-repeat center / 28px 28px;
}

.gnb-header.on .github-btn {
    background: url(/src/assets/images/icon-github-darkmode.svg) no-repeat center / 28px 28px;
}

.gnb-header.on .hamburger-menu {
    background: url(/src/assets/images/icon-hamburger-menu-darkmode.svg) no-repeat center / contain;
}

.gnb-header.on .button-group .darkmode-btn:hover,
.gnb-header.on .button-group .github-btn:hover {
    background-color: #333338;
}

/* 반응형 */
@media screen and (max-width: 1280px) {
    .gnb-header {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1024px) {
    .gnb-header {
        padding: 0 60px;
    }

    .search-input {
        display: none;
    }

    .search-btn {
        position: relative;
        left: 0;
        top: -1px;
    }
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .gnb-header {
        padding: 0 16px;
        height: 50px;
    }

    .gnb-header .header-logo {
        display: block;
        width: 130px;
        height: 18px;
    }

    .gnb-header ul.nav-left {
        align-items: center;
    }

    .mobile-search,
    .gnb-header ul.nav-left .hamburger-container {
        display: block;
    }

    .gnb-header ul.nav-left .nav-left-menu,
    .search-input,
    .search-btn,
    .button-group {
        display: none;
    }

    .logo-container {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        padding: 10px;
        z-index: 1;
    }
}