<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gnb-nav-modal</title>
    <link rel="stylesheet" href="/src/css/default.css">
    <link rel="stylesheet" href="/src/css/color.css" />
    <link rel="stylesheet" href="/src/components/gnb-nav-modal.css">
</head>
<body>
    <div class="modal-menu">
        <ul class="list-menu">
            <li class="list-item">
                <a class="link-menu" href="/cheatsheet-flex">Flex Cheatsheet</a>
            </li>
            <li class="list-item">
                <a class="link-menu" href="/cheatsheet-grid/">Grid Cheatsheet</a>
            </li>
        </ul>
    </div>
    <!-- Dark mode -->
    <div class="modal-menu on">
        <ul class="list-menu">
            <li class="list-item">
                <a class="link-menu" href="/cheatsheet-flext">Flex Cheatsheet</a>
            </li>
            <li class="list-item">
                <a class="link-menu" href="/cheatsheet-grid">Grid Cheatsheet</a>
            </li>
        </ul>
    </div>
</body>
</html>