@charset "UTF-8";

.a11y-hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    margin: 0;
}

.hamburger-menu {
    display: none;
    width: 20px;
    height: 18px;
    background: url(/src/assets/images/hamburger-menu.svg) no-repeat 100%;
}

.gnb-header {
    width: 100%;
    height: 80px;
    padding: 0 160px;
    box-sizing: border-box;
    color: var(--secondary);
}

.gnb-header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.gnb-header .header-logo {
    display: inline-block;
    width: 144px;
    height: 20px;
    background: url(/src/assets/images/logo.svg) no-repeat;
}

.gnb-header ul.nav-left {
    display: flex;
    box-sizing: border-box;
}

.gnb-header nav ul.nav-left li a {
    line-height: 28px;
}

.gnb-header ul.nav-left li {
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding: 26px 0;
}

.gnb-header ul.nav-left li:last-child {
    margin-right: 0;
}

.gnb-header ul.nav-left li:first-child {
    margin-right: 32px;
    padding: 30px 0;
}

.gnb-header nav ul.nav-right {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 0;
}

.gnb-header .search {
    position: relative;
}

.mobile-search {
    display: none;
}

.mobile-search .search-toggle {
    width: 24px;
    height: 24px;
    top: 12px;
    right: 20px;
    background: url(/src/assets/images/icon-search.svg) no-repeat;
    color: transparent;
    font-size: 1;
}

.search-input {
    position: relative;
    width: 265px;
    height: 40px;
    padding: 8px 54px 8px 30px;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 30px;
}

.search-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    right: 20px;
    background: url(/src/assets/images/icon-search.svg) no-repeat;
    color: transparent;
    font-size: 1;
}

.modal-history {
    position: absolute;
    top: 50px;
    left: 0;
}

.darkmode-btn {
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: 30.5px;
    background: url(/src/assets/images/icon-darkmode.svg) center no-repeat;
    color: transparent;
    font-size: 1;
}

.github-btn {
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: 22px;
    background: url(/src/assets/images/icon-github.svg) center no-repeat;
    color: transparent;
    font-size: 1;
}

/* 다크모드 */
.gnb-header.on {
    background-color: var(--primary);
    color: var(--background);
}

.gnb-header.on .header-logo {
    display: inline-block;
    width: 144px;
    height: 20px;
    background: url(/src/assets/images/logo-darkmode.svg) no-repeat;
}

.gnb-header.on nav li {
    color: var(--background);
}

.gnb-header.on .search-input {
    background-color: var(--black);
    border: none;
    -webkit-text-fill-color: var(--white);
    opacity: 1;
}

.gnb-header.on .darkmode-btn {
    background: url(/src/assets/images/icon-moon-dark.svg) center no-repeat;
}

.gnb-header.on .github-btn {
    background: url(/src/assets/images/icon-github-dark.svg) center no-repeat;
}

.gnb-header.on .hamburger-menu {
    background: url(/src/assets/images/hamburger-menu-darkmode.svg) no-repeat;
}


/* 반응형 */
@media screen and (max-width: 1280px) {
    .gnb-header {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1024px) {
    .hamburger-menu {
        display: block;
    }

    .gnb-header {
        padding: 0 60px;
    }

    .gnb-header ul.nav-left .nav-left-menu {
        display: none;
    }

    .gnb-header ul.nav-left .hamburger-container {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .gnb-header {
        position: relative;
        padding: 0 16px;
    }

    .mobile-search {
        display: block;
    }

    .search-input,
    .search-btn,
    .darkmode-btn,
    .github-btn {
        display: none;
    }

    .logo-container {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .gnb-header ul.nav-left .hamburger-container {
        display: inline-block;
    }
}