<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>modal</title>
    <link rel="stylesheet" href="../css/default.css" />
    <link rel="stylesheet" href="mobile-menu.css" />
  </head>
  <body>
    <button id="btn_mobile_menu" class="btn-mobile-hamburger"></button>
    <div id="dim_mobile" class="dim-mobile">
      <nav id="modal_mobile_menu" class="modal-mobile-menu">
        <ul class="cont-mobile-menu">
          <li class="logo-mobile">
            <a href="/">
              <img src="../assets/images/logo.svg" alt="Flex&Grid로고입니다." />
            </a>
          </li>
          <li class="cont-mobile-cheatsheet title-mobile">
            <button class="btn-mobile-title">
              <span class="mobile-tittle-cheatsheet"></span>
              <h3>Cheatsheet</h3>
              <span class="mobile-tittle-arrow"></span>
            </button>
            <ul>
              <li class="subtitle-mobile">subtitle</li>
              <li class="subtitle-mobile">subtitle</li>
            </ul>
          </li>
          <li class="cont-mobile-flex title-mobile">
            <button class="btn-mobile-title">
              <span class="mobile-tittle-flex"></span>
              <h3>Flex</h3>
              <span class="mobile-tittle-arrow"></span>
            </button>
            <ul>
              <li class="subtitle-mobile">
                <a href="#none">Flex란?</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">당신이 flex를 알면 만들 수 있는 것들</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">기본 속성 정보</a>
                <ul class="cont-mobile-sub-nav">
                  <li>Flex알아보기</li>
                  <li>Flex사용법</li>
                  <li>Flex기본속성</li>
                </ul>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">flex-direction</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none"
                  >flex-item들은 기본적으로 Axis를 기준으로 정렬됩니다.</a
                >
              </li>
              <li class="subtitle-mobile">
                <a href="#none">justify-content</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">Axis와 Cross-Axis</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">align-items와 align-content</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">flex-wrap</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">flex-basis</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">flex-grow</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">flex-shrink</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">그 밖의 flex-item에 사용하는 속성들</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">IE지원을 위한 Flex</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">성배 레이아웃 그리기</a>
              </li>
            </ul>
          </li>
          <li class="cont-mobile-grid title-mobile">
            <button class="btn-mobile-title">
              <span class="mobile-tittle-grid"></span>
              <h3>Grid</h3>
              <span class="mobile-tittle-arrow"></span>
            </button>
            <ul>
              <li class="subtitle-mobile">
                <a href="#none">Grid</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">Grid row와 column</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">Gap</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">각 셀의 영역 지정</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">IE지원을 위한 Grid</a>
              </li>
              <li class="subtitle-mobile">
                <a href="#none">성배 레이아웃 그리기</a>
              </li>
            </ul>
          </li>
          <li class="cont-mobile-util title-mobile">
            <h3>util</h3>
            <ul>
              <li class="mobile-darkmode">Dark Mode</li>
              <li class="mobile-github">Github</li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <script src="./mobile-menu.js"></script>
  </body>
</html>
