.search-modal-mobile {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 256px;
    height: 100vh;
    padding: 12px 16px;
    background-color: #fff;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}

.search-modal-mobile.clicked {
    display: block;
    transform: translate3d(0, 0, 0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(63, 63, 70, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.overlay.clicked {
    opacity: 1;
    visibility: visible;
}

.search-modal-mobile header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.search-modal-mobile form {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
}

.search-modal-mobile form input {
    width: 100%;
    height: 40px;
    padding: 8px 54px 8px 30px;
    border: 1px solid var(--border);
    border-radius: 30px;
    background-color: var(--background);
    outline-color: var(--flex-primary);
}

.search-modal-mobile .close-btn {
    flex: 0 0 auto;
    width: 56px;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary);
}

.search-modal-mobile .header-history .btn-del-all,
.search-modal-mobile .header-history .tit-history {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary);
}

.search-modal-mobile .header-history .btn-del-all:hover {
    color: var(--primary);
}

.search-modal-mobile .modal-history .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 8px;
    line-height: 25px;
    font-size: 16px;
    border-radius: 10px;
}

.search-modal-mobile .list-item:hover {
    background-color: #f8f8f8;
}

.search-modal-mobile .list-item .btn-del img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

.on .search-modal-mobile {
    background-color: var(--primary);
    background-color: var(--modal-dark);
}

.on .search-modal-mobile .search-input {
    background-color: var(--border-dark);
    border: none;
    -webkit-text-fill-color: var(--white);
    opacity: 1;
}

.on .search-modal-mobile .btn-del-all:hover,
.on .search-modal-mobile .txt-item {
    color: var(--border);
}

.on .search-modal-mobile .list-item:hover {
    background-color: var(--primary);
}

.on .overlay.clicked {
    background-color: rgba(26, 26, 26, 0.8);
}

.on .search-modal-mobile .btn-del img {
  content: url(/src/assets/images/icon-close-darkmode.svg);
}

.on .search-modal-mobile .close-btn {
    color: var(--subtext);
}

@media screen and (min-width: 1024px) {
    .search-modal-mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .search-modal-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}

