@charset "UTF-8";

/* modal-menu */
.modal-menu{
  display: none;
  margin-top: 8px;
  position: relative;
  width: 244px;
  padding:8px;
  border:#EFEFEF solid 1px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.modal-menu.on{
  display: block;
}

.arrows{
  position: absolute;
  height: 0;
  width: 0;
  position: absolute;
  border-style: solid;
  left: 12px;
  border-color: transparent;
  border-width: 8px;
}

.arrow{
  border-bottom-color:#FFFFFF;
  top:-15px;
}

.arrow-border{
  border-bottom-color: #EFEFEF;
  top:-16px;
}

.link-menu{
  display: block;
  padding: 10px 12px 10px 8px;
  color: #3F3F46;
  line-height: 24px;
  cursor: pointer;
  border-radius: 10px;
}

.link-menu:hover{
  background-color: #F9F9F9;
  color: #765451;
}

.link-menu:focus{
  outline: 1px solid #B4B4B4;
}

.modal-menu.dark{
  background-color: #27272A;
}

.modal-menu.dark .arrow,
.modal-menu.dark .arrow-border{
  border-bottom-color:#27272A;
}

.modal-menu.dark .link-menu{
  color:#EFEFEF;
}

.modal-menu.dark .link-menu:hover{
  background-color: #3F3F46;
}

/* modal-history */
.modal-history{
  display: none;
  width: 264px;
  min-height: 270px;
  padding: 14px 7px 6px 7px;
  border: solid 1px #EFEFEF;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.modal-history.on{
  display: block;
}

.header-history{
  display: flex;
  justify-content: space-between;
  margin: 0 7px 8px 8px;
  line-height: 14px;
}

.tit-history, .btn-del-all{
  font-size: 12px;
  font-weight: 400;
  color: #B4B4B4;
}

.btn-del-all:hover{
  color:#3F3F46;
}

.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 8px;
  line-height: 25px;
  font-size: 16px;
  border-radius: 10px;
}

.list-item:hover{
  background-color: #F9F9F9;
  color: #765451;
}

.list-item:focus{
  outline: 1px solid #B4B4B4;
}

.btn-del{
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.btn-del:focus{
  outline: 1px solid #B4B4B4;
}

.txt-ellipsis{
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-history.dark{
  background-color:#27272A;
}

.modal-history.dark .btn-del-all:hover{
  color:#EFEFEF;
}

.modal-history.dark .list-item:hover{
  background-color: #3F3F46;
}

.modal-history.dark .txt-ellipsis{
  color:#EFEFEF;
}

.modal-history.dark .btn-del img{
  content:url('../assets/images/icon-close-darkmode.svg');
}

