@charset "UTF-8";

.modal-history{
  display: none;
  width: 264px;
  min-height: 270px;
  padding: 14px 7px 6px 7px;
  border: solid 1px #EFEFEF;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.modal-history.on{
  display: block;
}

.header-history{
  display: flex;
  justify-content: space-between;
  margin: 0 7px 8px 8px;
  line-height: 14px;
}

.tit-history, .btn-del-all{
  font-size: 12px;
  font-weight: 400;
  color: #B4B4B4;
}

.btn-del-all:hover{
  color:#3F3F46;
}

.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 8px;
  line-height: 25px;
  font-size: 16px;
  border-radius: 10px;
}

.list-item:hover{
  background-color: #F9F9F9;
  color: #765451;
}

.list-item:focus{
  outline: 1px solid #B4B4B4;
}

.btn-del{
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.btn-del:focus{
  outline: 1px solid #B4B4B4;
}

.txt-ellipsis{
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Dark mode */
.modal-history.dark{
  background-color:#27272A;
}

.modal-history.dark .btn-del-all:hover{
  color:#EFEFEF;
}

.modal-history.dark .list-item:hover{
  background-color: #3F3F46;
}

.modal-history.dark .txt-ellipsis{
  color:#EFEFEF;
}

.modal-history.dark .btn-del img{
  content:url('../assets/images/icon-close-darkmode.svg');
}

