<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modal</title>
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="modal2.css">
</head>
<body>
    <div class="modal-history on">
        <div class="header-history">
            <strong class="tit-history">최근 검색어</strong>
            <button class="btn-del-all">전체 삭제</button>
        </div>
        <ul class="list-history">
            <li>
                <a href="#none" class="list-item">
                    <strong class="txt-ellipsis">flex란?</strong>
                    <button class="btn-del"><img src="../assets/images/icon-close.svg" alt="삭제 버튼"></button>
                </a>
            </li>
            <li>
                <a href="#none" class="list-item">
                    <strong class="txt-ellipsis">grid</strong>
                    <button class="btn-del"><img src="../assets/images/icon-close.svg" alt="삭제 버튼"></button>
                </a>
            </li>
            <li>
                <a href="#none" class="list-item">
                    <strong class="txt-ellipsis">가운데 정렬</strong>
                    <button class="btn-del"><img src="../assets/images/icon-close.svg" alt="삭제 버튼"></button>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>