@charset "UTF-8";

.list-search {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-search {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background: var(--white);
  line-height: 1.5;
  letter-spacing: -0.2px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.item-search:hover {
  background: #f6f6f6;
}

.item-search .route-search {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #b4b4b4;
  font-size: 14px;
  white-space: nowrap;
}

.item-search .tit-search {
  overflow: hidden;
  padding-top: 10px;
  text-overflow: ellipsis;
  color: var(--primary);
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
}

.item-search .desc-search {
  display: -webkit-box;
  overflow: hidden;
  padding-top: 10px;
  text-overflow: ellipsis;
  color: #878787;
  font-size: 16px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

body.on .item-search {
  background: #3f3f46;
}

body.on .item-search:hover {
  background: #37373c;
}

body.on .route-search {
  color: var(--secondary);
}

body.on .tit-search {
  color: var(--white);
}

body.on .desc-search {
  color: var(--tertiary);
}

@media screen and (max-width: 479px) {
  .list-search {
    gap: 8px;
  }
  .item-search .route-search {
    font-size: 12px;
  }
  
  .item-search .tit-search {
    padding-top: 8px;
    font-size: 20px;
  }

  .item-search .desc-search {
    padding-top: 8px;
    font-size: 14px;
  }
}

