@charset "UTF-8";

.gnb-header .modal-history {
  display: none;
  width: 264px;
  min-height: 270px;
  padding: 14px 7px 6px 7px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0px 8px 10px 0px rgba(135, 135, 135, 0.08);
}

.gnb-header .modal-history.clicked {
  display: block;
}

.gnb-header .header-history {
  display: flex;
  justify-content: space-between;
  margin: 0 7px 8px 8px;
  line-height: 14px;
}

.gnb-header .tit-history, .btn-del-all {
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary);}

.gnb-header .btn-del-all:hover {
  color: var(--primary);
}

.gnb-header .modal-history .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 8px;
  line-height: 25px;
  font-size: 16px;
  border-radius: 10px;
}

.gnb-header .modal-history .list-item:hover {
  background-color: #f8f8f8;
}

.gnb-header .modal-history .btn-del {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.gnb-header .modal-history .txt-item {
  color: var(--primary);
}

/* Dark mode */
.gnb-header .modal-history.on {
  border: solid 1px var(--border-dark);
  background-color: #333338;
  box-shadow: 0px 10px 25px rgba(45, 45, 45, 0.1);
}

.gnb-header .modal-history.on .btn-del-all:hover {
  color:#EFEFEF;
}

.gnb-header .modal-history.on .list-item:hover {
  background-color: var(--primary);
}

.gnb-header .modal-history.on .txt-item {
  color: var(--border);
}

.gnb-header .modal-history.on .btn-del img {
  content: url(../assets/images/icon-close-darkmode.svg);
}


@media screen and (max-width: 1024px) {
  .gnb-header .modal-history.clicked {
    display: none;
  }
}