<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search-item</title>
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="search-item.css">

</head>
<body>
    <ul class="list-search">
        <li class="itemwrap-search">
            <a href="javascript:void(0)" class="item-search">
                <span class="route-search">Flex > flex-direction</span>
                <strong class="tit-search">flex-direction</strong>
                <p class="desc-search">Nulla Lorem mollit cupidatat irure. Laborumb magna nulla duis ullamco cillum dolor. Voluptate exercitation
                    incididunt aliquip deserunt reprehenderit elit laborum. </p>
            </a>
        </li>

        <li class="itemwrap-search">
            <a href="javascript:void(0)" class="item-search dark">
                <span class="route-search">Flex > flex-direction</span>
                <strong class="tit-search">flex-direction</strong>
                <p class="desc-search">Nulla Lorem mollit cupidatat irure. Laborumb magna nulla duis ullamco cillum dolor. Voluptate exercitation
                    incididunt aliquip deserunt reprehenderit elit laborum. </p>
            </a>
        </li>
    </ul>
</body>
</html>