<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view-contents</title>
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="view-contents.css">
</head>
<body>
    <section  class="section-view">
        <h1 class="visually-hidden">flex, grid 코드 에디터</h1>
        <div class="container-view">
            <ul class="list-flex">
                <!-- 1. carousel-flex -->
                <li id="itemwrap-result" class="itemwrap-result">
                    <div class="itemwrap-flex">
                        <div class="item-flex"></div>
                    </div>
                    <div class="itemwrap-flex">
                        <div class="item-flex"></div>
                        <div class="item-flex"></div>
                    </div>
                    <div class="itemwrap-flex">
                        <div class="item-flex"></div>
                        <div class="item-flex"></div>
                    </div>
                    <div class="itemwrap-flex">
                        <div class="item-flex"></div>
                        <div class="item-flex"></div>
                    </div>
                </li>

                <!-- 2. carousel-flex -->
                <li id="itemwrap-result" class="itemwrap-result">
                    <div class="itemwrap-flex carousel-second">
                        <div class="item-flex"></div>
                    </div>
                    <div class="itemwrap-flex carousel-second">
                        <div class="item-flex"></div>
                        <div class="item-flex"></div>
                    </div>
                    <div class="itemwrap-flex carousel-second">
                        <div class="item-flex"></div>
                        <div class="item-flex"></div>
                    </div>
                    <div class="itemwrap-flex carousel-second">
                        <div class="item-flex"></div>
                        <div class="item-flex"></div>
                    </div>
                </li>

                <!-- 3. carousel-flex -->
                <li id="itemwrap-result" class="itemwrap-result">
                    <div class="itemwrap-flex carousel-third">
                        <div class="item-flex"></div>
                    </div>
                    <div class="itemwrap-flex carousel-third">
                        <div class="item-flex"></div>
                        <div class="item-flex"></div>
                    </div>
                    <div class="itemwrap-flex carousel-third">
                        <div class="item-flex"></div>
                        <div class="item-flex"></div>
                    </div>
                    <div class="itemwrap-flex carousel-third">
                        <div class="item-flex"></div>
                        <div class="item-flex"></div>
                    </div>
                </li>
            </ul>
            <p>carousel-btn</p>
            <p>editor</p>
        </div>
        
        <div class="container-view">
            <ul class="list-grid">
                <!-- 1. carousel-grid -->

                <!-- 2. carousel-grid -->

                <!-- 3. carousel-grid -->
            </ul>
            <p>carousel-btn</p>
            <p>editor</p>
        </div>
    </section>
</body>
</html>