@charset "UTF-8";

/* 컬러 시스템 참고 */
:root {
    --black: #27272a; 
    --dark: #23262f; 
    --primary: #3f3f46;
    --secondary: #878787;
    --tertiary: #b4b4b4;
    --subtext: #e0e0e0;
    --border: #efefef;
    --border-dark: #2d2d2d;
    --modal-dark: #333338;
    --background: #f9f9f9;
    --white: #ffffff;
    --flex-dark: #504975;
    --flex-primary: #7661e2;
    --flex-border: #b6abed;
    --flex-hover: #eceafe;
    --flex-background: #fbfbff;
    --grid-dark: #765451;
    --grid-primary: #f6866a;
    --grid-border: #f9b09e;
    --grid-hover: #fff0e6;
    --grid-background: #fffcfa;
}