/* media-query */
/* cheatsheet-flex tablet */
@media screen and (max-width: 1280px) {
  .cheatsheet-flex .flex-cont {
    display: flex;
    flex-direction: column;
  }

  .cheatsheet-flex .flex-cont .fg-cheat,
  .cheatsheet-flex .flex-cont .fg-cheat .box-area .container,
  .cheatsheet-flex .flex-cont .fg-cheat .box-code-area {
    width: auto;
  }
}

/* cheatsheet-flex mobile */
@media screen and (max-width: 768px) {
  .cheatsheet-flex {
    width: auto;
    margin: 60px 20px;
  }

  .cheatsheet-flex .flex-wrapper {
    padding: 0;
    width: 100%;
  }

  .cheatsheet-flex .flex-wrapper .flex-cont {
    width: auto;
    margin-top: 30px;
  }

  .cheatsheet-flex .flex-wrapper .main-title {
  margin-top: 30px;
  }

  .cheatsheet-flex .flex-wrapper .flex-cont .fg-cheat {
    width: 100%;
  }

  .cheatsheet-flex .flex-wrapper .flex-cont .fg-cheat .box-code-area {
    width: auto;
  }
}





/* cheatsheet-grid tablet */

/* cheatsheet-grid mobile */
@media screen and (max-width: 768px) {
  .main-cheatsheet-grid {
    width: auto;
    margin: 100px 40px;
  }

  .cheatsheet-grid {
    padding: 0;
  }

  .cheatsheet-grid .main-title {
    margin-bottom: 50px;
  }

  .cheatsheet-grid .main-wrapper {
    grid-template-columns: 1fr;
  }

  .cheatsheet-grid .main-wrapper .fg-cheat {
    width: 100%;
  }

  .cheatsheet-grid .main-wrapper .fg-cheat .box-code-area {
    width: auto;
  }
}
