/* media-query */
/* gird 반응형 768px */
.main-cheatsheet-grid {
    width: auto;
    margin: 100px 40px;
}

.cheatsheet-grid {
    padding: 0;
}

.main-title {
    margin-bottom: 50px;
}

.main-wrapper {
    grid-template-columns: 1fr;
}

.fg-cheat {
    width: 100%;
}

.box-code-area {
    width: auto;
}