@charset "UTF-8";

/* 컬러 시스템 참고 */
:root {
    --black: #27272A; 
    --dark: #23262F; 
    --primary: #3F3F46;
    --secondary: #878787;
    --tertiary: #B4B4B4;
    --subtext: #E0E0E0;
    --border: #EFEFEF;
    --background: #F9F9F9;
    --white: #FFFFFF;
    --flex-dark: #504975;
    --flex-primary: #7661E2;
    --flex-border: #B6ABED;
    --flex-hover: #ECEAFE;
    --flex-background: #FBFBFF;
    --grid-dark: #765451;
    --grid-primary: #F6866A;
    --grid-border: #F9B09E;
    --grid-hover: #FFF0E6;
    --grid-background: #FFFCFA;
}