@charset "UTF-8";

body {
    overflow-x: hidden;
}

main {
    display: flex;
    align-items: stretch;
}

article {
    margin-bottom: 100px;
}

h2, h3, h4 {
    padding-top: 140px;
    margin-top: -140px;
}

h2 {
    margin-bottom: 100px;
    color: var(--secondary);
    font-size: 36px;
}

h3 {
    color: var(--primary);
    font-size: 22px;
    font-weight: 600;
}


/* 에디터 추가 후 삭제 */
pre, pre code {
    overflow-x: auto;
    max-width: 700px;
    margin: 10px auto;
    padding-bottom: 10px;
}

article > pre::-webkit-scrollbar,
article > pre code::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

article > pre::-webkit-scrollbar-thumb,
article > pre code::-webkit-scrollbar-thumb {
    width: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--flex-border);
    background-clip: padding-box;
}

article > pre::-webkit-scrollbar-track,
article > pre code::-webkit-scrollbar-thumb {
    background: none;
}
/* 에디터 추가 후 삭제 끝 */

.gnb-header ul.nav-left li:nth-child(3) {
    color: var(--flex-primary);
    font-weight: 700;
}

.btn-flex {
    color: #7661E2;
}

.btn-flex::before {
    background: url(/src/assets/images/icon-flex-hover.svg) no-repeat center/contain;
}

.main-flex {
    display: flex;
    width: 100%;
    background: var(--flex-background)
}

.sect-flex {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cont-flex {
    max-width: 1480px;
    width: 100%;
    padding: 140px 180px 120px;
    line-height: 1.6em;
}

.cont-flex figure {
    display: block;
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.cont-flex figure img {
    width: 100%;
    max-width: 700px;
    height: auto;
}

/* 반응형 */
@media screen and (max-width: 1280px) {
    .cont-flex {
        padding-left: 5vw;
        padding-right: 5vw;
        width: 80%;
    }

    .cont-flex figure {
        max-width: 90%;
    }

    .cont-flex figure img {
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .cont-flex {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .cont-flex figure {
        max-width: 100%;
    }

    .cont-flex figure img {
        max-width: 100%;
    }
}